<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>FRI</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <div class="bg">
    <img src="/images/Pinchable-Neighborhood-Cropped-smaller.jpg" />
  </div>
  <header class="navbar">
    <a href="/">
      <img src="/images/mr_rogers.png" alt="" class="logo" />
    </a>
    <nav>
      <ul class="navlinks">
        <li><a href="/works">Works</a></li>
        <li><a href="/images">Images</a></li>
      </ul>
    </nav>
    <div class="fill"></div>
  </header>
  <body>
    <div class="title">
      <h1>
        Who was Fred Rogers?
      </h1>
    </div>
    <div class="about">
      <div>
        <p>
          <span
            >Melissa Crowton, Google Doodle Team doodler and project director,
            still remembers the episode featuring author and illustrator Eric
            Carle that has inspired her throughout her career.</span
          >
        </p>
        <br />
        <p>
          <span
            >“I was really impacted in the way that Mister Rogers wanted his
            audience to feel,” she says in the Google Doodle behind-the-scenes
            video. “You have it within you to make something special.”</span
          >
        </p>
        <br />
        <p>
          <span
            >And that’s what she has done with the stop-motion video of Rogers
            and the Land of Make Believe.</span
          >
        </p>
        <br />
        <p>
          <span
            >It’s a colorful, soulful animation. From the moment you see Rogers
            hop off the trolley in his green cardigan, your heart sings, “It’s a
            beautiful day in this neighborhood, a beautiful day for a neighbor,
            would you be mine, could you be mine?”</span
          >
        </p>
        <br />
        <p>
          <span
            >The show didn’t first air until Feb. 19, 1968 — but it was filmed
            51 years ago on Sept. 21, 1967. As Morgan Neville’s documentary
            “Won’t You Be My Neighbor” reminded us this summer: Rogers was
            radical.</span
          >
        </p>
        <br />
        <p>
          <span
            >That first week of the show subtly tackled heavy political issues.
            King Friday, the Land of Make-Believe’s mad monarch, built a fence
            around his castle — almost like a wall. People had to give their
            name and rank if they want to enter. Sound familiar?</span
          >
        </p>
        <br />
        <p>
          <span
            >Like most great thinkers, Rogers was ahead of his time and his
            ideals are still relevant. The show wasn’t as diverse as “Sesame
            Street,” but in many ways it was far more edgy. He subtly tackled
            war, gender roles, and integration.</span
          >
        </p>
        <br />
        <p>
          <span
            >Not long after the assassination of Martin Luther King Jr., when
            black people had acid thrown on them to keep them out of swimming
            pools, Rogers soaked his feet in a wading pool with Officer
            Clemmons, played by Francois Clemmons — one of the first black
            characters on children’s television. Rogers sent Lady Elaine
            Fairchilde into space. There was black woman mayor, Mayor Maggie of
            Southwood. He was very intentional in how he demonstrated
            inclusivity.</span
          >
        </p>
        <br />
        <p>
          <span
            >Today, kids tune into the Rogers spinoff, “Daniel Tiger’s
            Neighborhood.” But fans still stream the original show on Amazon
            Prime and iTunes. PBS Kids still has full episodes online.</span
          >
        </p>
        <br />
        <p>
          <span
            >Fred Rogers Productions called the Google Doodle “a gift to share
            his memory.”</span
          >
        </p>
        <br />
        <p>
          <span
            >“His legacy is really about understanding children, caring about
            them, but most importantly respecting them,” says Margy Whitmer,
            Fred Rogers Productions media producer. “It’s really about
            kindness.”</span
          >
        </p>
        <br />
        <p>
          <span
            >We could all use some of that. The animation ends with Rogers’ most
            consistent message of all — loving and being yourself.</span
          >
        </p>
        <br />
        <p>
          <span
            >“You help to make each day a special day by just you being
            yourself,” he says from a TV screen in the Google Doodle as children
            watch. “There’s nobody else in the whole world who’s exactly like
            you, and people can like you exactly as you are.”</span
          >
        </p>
        <br />
        <p>
          <span
            >Rogers died of stomach cancer in 2003, just two years after he
            finished his 31st and final season. But as this Google Doodle
            proves, he is forever our neighbor.</span
          >
        </p>
      </div>
    </div>
  </body>
</html>
