<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>FRI</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <div class="bg">
    <img src="/images/Pinchable-Neighborhood-Cropped-smaller.jpg" />
  </div>

  <header class="navbar">
    <a href="/">
      <img src="/images/mr_rogers.png" alt="" class="logo" />
    </a>
    <div class="fill"></div>
  </header>
  <body>
    <div class="title">
      <h1>
        Welcome. <br />
        Here you can find more information about the life and legacy of Fred
        Rogers.
      </h1>
    </div>
    <div class="homeContent">
      <a href="/about">
        <div class="homeCard1">
          <h1 class="cardText">About</h1>
        </div>
      </a>
      <a href="/works">
        <div class="homeCard2">
          <h1 class="cardText">Works</h1>
        </div>
      </a>
      <a href="/images">
        <div class="homeCard3">
          <h1 class="cardText">Images</h1>
        </div>
      </a>
    </div>
  </body>
</html>
