<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>FRI</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <div class="bg">
    <img src="/images/Pinchable-Neighborhood-Cropped-smaller.jpg" />
  </div>
  <header class="navbar">
    <a href="/">
      <img src="/images/mr_rogers.png" alt="" class="logo" />
    </a>
    <nav>
      <ul class="navlinks">
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
      </ul>
    </nav>
    <div class="fill"></div>
  </header>
  <body>
    <div class="title">
      <h1>
        Pictures
      </h1>
    </div>
  </body>
</html>
