<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>FRI</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <div class="bg">
    <img src="/images/Pinchable-Neighborhood-Cropped-smaller.jpg" />
  </div>
  <header class="navbar">
    <a href="/">
      <img src="/images/mr_rogers.png" alt="" class="logo" />
    </a>
    <nav>
      <ul class="navlinks">
        <li><a href="/about">About</a></li>
        <li><a href="/images">Images</a></li>
      </ul>
    </nav>
    <div class="fill"></div>
  </header>
  <body>
    <div class="title">
      <h1>
        Mr. Roger's Legacy.
      </h1>
    </div>
    <div class="about">
      <p>
        Marc Brown, creator of another PBS children's show, Arthur, considered
        Rogers both a friend and &quot;a terrific role model for how to use
        television and the media to be helpful to kids and families&quot;. Josh
        Selig, creator of Wonder Pets, credits Rogers with influencing his use
        of structure and predictability, and his use of music, opera, and
        originality.
      </p>
      <br />

      <p>
        Rogers inspired Angela Santomero, co-creator of the children's
        television show Blue's Clues, to earn a degree in developmental
        psychology and go into educational television. She and the other
        producers of Blue's Clues used many of Rogers' techniques, such as using
        child developmental and educational research, and having the host speak
        directly to the camera and transition to a make-believe world. In 2006,
        three years after Rogers' death and after the end of production of
        Blue's Clues, the Fred Rogers Company contacted Santomero to create a
        show that would promote Rogers' legacy. In 2012, Daniel Tiger's
        Neighborhood, with characters from and based upon Mister Rogers'
        Neighborhood, premiered on PBS.
      </p>
      <br />

      <p>
        Rogers' style and approach to children's television and early childhood
        education also &quot;begged to be parodied&quot;. Comedian Eddie Murphy
        parodied Mister Rogers' Neighborhood on Saturday Night Live during the
        1980s. Rogers told interviewer David Letterman in 1982 that he believed
        parodies like Murphy's were done &quot;with kindness in their
        hearts&quot;.
      </p>
      <br />

      <p>
        Video of Rogers' 1969 testimony in defense of public programming has
        experienced a resurgence since 2012, going viral at least twice. It
        first resurfaced after then presidential candidate Mitt Romney suggested
        cutting funding for PBS. In 2017, video of the testimony again went
        viral after President Donald Trump proposed defunding several
        arts-related government programs including PBS and the National
        Endowment for the Arts.
      </p>
      <br />

      <p>
        In 2018, Won't You Be My Neighbor?, director Morgan Neville's
        documentary about Rogers' life, grossed over $22 million and became the
        top-grossing biographical documentary ever produced, the
        highest-grossing documentary in five years, and the 12th
        largest-grossing documentary ever produced. The 2019 drama film A
        Beautiful Day in the Neighborhood tells the story of Rogers and his
        television series, with Tom Hanks portraying Rogers.
      </p>
      <br />

      <p>
        According to Caitlin Gibson of The Washington Post, Rogers became a
        source for parenting advice; she called him &quot;a timeless oracle
        against a backdrop of ever-shifting parenting philosophies and cultural
        trends&quot;. Robert Thompson of Syracuse University noted that Rogers
        &quot;took American childhood&mdash;and I think Americans in
        general&mdash;through some very turbulent and trying times&quot;, from
        the Vietnam War and the assassination of Robert Kennedy in 1968, to the
        9/11 attacks in 2001. According to Asia Simone Burns of National Public
        Radio, in the years following the end of production on Mister Rogers'
        Neighborhood in 2001, and his death in 2003, Rogers became &quot;a
        source of comfort, sometimes in the wake of tragedy&quot;. Burns has
        said Rogers' words of comfort &quot;began circulating on social
        media&quot; following tragedies such as the Sandy Hook Elementary School
        shooting in 2012, the Manchester Arena bombing in Manchester, England in
        2017, and the shooting at Stoneman Douglas High School in Parkland,
        Florida in 2018.
      </p>
    </div>
  </body>
</html>
